<p id="notice"><%= notice %></p>

<h1>Блог</h1>

<%@posts.each do |post|%>
<div>
  <h3><%=post.title%></h3>

  <div data>
    <%= l(post.created_at, format: :long) %>
  </div>
  <small><%=post.user&.login%></small>
  <p><%= post.body %></p>
  <div more>
    <%= link_to 'Подробнее', post %>
  </div>
</div>
<%end%>


<%= link_to 'New Post', new_post_path %>
