<p id="notice"><%= notice %></p>

<h1>Блог</h1>

<%@posts.each do |post|%>
<<<<<<< HEAD
<div>
  <h3><%=post.title%></h3>

  <div data>
    <%= l(post.created_at, format: :long) %>
  </div>
  <small><%=post.user&.login%></small>
  <p><%= post.body %></p>
  <div more>
    <%= link_to 'Подробнее', post %>
  </div>
</div>
<%end%>

=======
<div class="post">
  <h3><%=post.title%></h3>
  <p><%= post.body %></p>
  <small><%=post.user&.login%></small>
  <%= l(post.created_at, format: :long) %>
  <%= link_to 'Подробнее', post %>
</div>
<%end%>
>>>>>>> 8fc1cac6981a6555b3593dd3df48144c9e428d5e

<%= link_to 'New Post', new_post_path %>
