<p id="notice"><%= notice %></p>

<h1>Блог</h1>

<%@posts.each do |post|%>
<div class="post">
  <h3><%=post.title%></h3>
  <p><%= post.body %></p>
  <small><%=post.user&.login%></small>
  <%= l(post.created_at, format: :long) %>
  <%= link_to 'Подробнее', post %>
</div>
<%end%>

<%= link_to 'New Post', new_post_path %>
