<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%if @current_user.inspect %>
      <%= "Hello, #{@current_user.login}!"%>
      <%= link_to 'Logout', logout_path %>
    <%end%>
    <%if @current_user.inspect %>
=======
    <%= session[:user_id] %>
>>>>>>> 8fc1cac6981a6555b3593dd3df48144c9e428d5e
    <%= yield %>
  </body>
</html>
